/* Home */
.left {

    display: inline-block;
    /* border: 2px solid green; */
    position: absolute;
    left: 8px;
    top: 3px;
    font-size: 25px;
}

.left img {
    filter: invert(100%);
    width: 169px;
    height: 114px;
}

.left span {
    position: relative;
    top: -42px;
    left: -23px;

    font-family: 'Zen Dots', cursive;


    text-align: center;
}

.mid {

    display: block;
    width: 735px;
    margin: 29px auto;
    /* border: 2px solid green; */



}


/* .right{
        position: absolute;
        display: inline-block;
        top: 37px;
        right: 33px;
        /* border: 2px solid yellow; */
/* width: 177px;
        font-size: 25px;
        text-decoration:none;
        color: white;
        

    } */
.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-size: 25px;
}

.navbar li a {

    color: white;
    text-decoration: underline;
    margin: 1px;
    padding: 15px 15px;

}

.navbar li a:hover,
.navbar li a.active {
    border: 2px solid white;
    background-color: rgb(16, 23, 54);
    border-radius: 10px;

    text-decoration: underline;


}

.right a .btn {
    position: absolute;
    display: inline-block;
    top: 37px;
    right: 33px;
    /* border: 2px solid yellow; */
    width: 177px;
    font-size: 25px;
    text-decoration: none;


    margin: -2px 9px;
    background-color: rgba(16, 23, 54, 0);
    color: white;
    padding: 4px 14px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 26px;
    cursor: pointer;
}

.right a .btn:hover {
    background-color: rgb(1, 6, 29);
}

.welcome h1 {
    position: relative;
    left: -135px;
    font-size: 80px;
    /* border: 2px solid red; */
    /* width: 361px; */
    height: 190px;
    margin-left: 290px;
    padding: 52px;
    display: flex;
    align-items: center;
}

.btn2 {

    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    /* border: 2px solid white;
    border-radius: 10px; */
    background-color: rgba(1, 6, 29, 0.11);
    /* border: 2px solid red; */
    width: 345px;
    height: 71px;
    margin-left: 500px;
    padding: 43px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn2:hover {
    border: 2px solid white;
    border-radius: 10px;

    background-color: rgb(1, 6, 29);
    text-decoration: underline;
}

.btn2 a {
    color: white;
    text-decoration: none;
}

/* Book a table */
.table {
    margin: 74px 10px;

    /* display: flex;
    justify-content: flex-end; */
    /* border: 2px solid green; */
    width: 660px;
    height: 535px;

}

.info {
    position: relative;
    top: -50px;

    /* display: flex;
   justify-content: flex-end; */
    margin: 20px 103px;
    padding: 15px;

    /* border: 2px solid red;
    margin: 23px 20px;
    width: 339px;
    height: 37px; */

}

.search {
    display: flex;
    justify-content: flex-end;
    width: 404px;
    height: 31px;
    border: 2px solid white;
    border-radius: 10px;
}

.btn3 {
    display: flex;
    justify-content: center;
    /* margin: -16px 120px;
    padding: 20px; */
    position: relative;
    top: -17px;
    right: 27px;
    left: -17px;

    background-color: rgba(16, 23, 54, 0);
    text-decoration: underline;
    width: 446px;
    height: 43px;
    color: white;
    padding: 4px 130px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 26px;
    cursor: pointer;

}

.btn3:hover {
    background-color: rgb(16, 23, 54);
    border: 2px solid white;

    border-radius: 10px;

    text-decoration: underline;

}

/* food info */
.heading {
    text-align: center;
    position: relative;
    top: 50px;
    bottom: 20px;
    text-decoration: underline;
    font-size: 30px;

}

.start {
    border-radius: 10px;
    display: inline-table;
    position: relative;
    /* background-color: #5e4fb31f; */
    height: 17.5em;
    width: 15em;
    margin-top: 10px;
    margin-left: 70px;
    left: 0px;
    color: white;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 3px solid white;
}

.start:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.507);
}

.starthead h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 40px;
}

.start img {
    width: 365px;
    height: 304px;


}

.start p {
    text-align: center;
    position: relative;
    top: 10px;
}

/* Contact us */
.holder {
    border: 2px solid black;
    border-top-left-radius: 38px;
    border-top-right-radius: 38px;
    border-radius: 10px;
    display: inline-table;
    position: relative;
    top: -147px;
    background-color: #5e4fb31f;
    height: 17.5em;
    width: 15em;
    margin-top: 10px;
    margin-left: 70px;
    left: 0px;
    color: white;

}

.holder img {
    border-radius: 38px;
    position: relative;
    left: 31px;
    top: 10px;

    width: 11rem;
    height: 9rem;
}

.holder p {
    position: relative;
    top: -19px;
    text-align: center;
    font-size: 19px;
}

.contacts h1 {
    position: relative;
    top: -70px;
    text-align: center;
    margin: 111px 20px;
    padding: 20px;
    font-size: 65px;
    text-decoration: underline;
}

.contacts .holder {
    margin: 0px 98px;

}

.holder:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.575);
    border: 2px solid white;
    border-radius: 20px;

}

/* Online Order */
.par h1 {
    position: relative;
    top: -92px;
    left: 365px;
    color: white;
    width: 490px;
    height: 54px;
    display: flex;
    justify-content: flex-start;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
    margin: 146px 73px;
    padding: 20px;
}

.par img {
    position: relative;
    top: -100px;
    left: 365px;
    border: 5px solid rgb(209, 200, 200);
    border-radius: 10px;
    width: 417px;
    height: 290px;
    margin: -112px 101px;
    padding: 20px;

}

.par img:hover {
    border: 5px solid black;
    border-radius: 10px;

    cursor: pointer;
}

/* ABOUT US */
header {
    background-color: rgba(0, 0, 0, 0.418);


}

.middle {
    background-color: rgba(0, 0, 0, 0.418);

}

.middle h1 {
    text-align: center;
    font-size: 50px;


    text-decoration: underline;

}

.middle h2 {
    text-align: center;
    font-size: 100px;

}